<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" type="text/css" href="/indexstyles.css">
</head>
<body>
<div class="container">
    <h1>User List</h1>
    <a href="/create" class="btn btn-create">Create a new user</a>
    <a href="/results/create" class="btn btn-create">Create a new result</a>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Date of Birth</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.dateOfBirth}"></td>
            <td th:text="${user.role}"></td>
            <td>
                <a th:href="@{'/viewUser/' + ${user.id}}" class="btn btn-view">View</a>
                <a th:href="@{'/deleteUser/' + ${user.id}}" class="btn btn-delete">Delete</a>
                <a th:href="@{'/updateUser/' + ${user.id}}" class="btn btn-update">Update</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>